@charset "UTF-8";

$icon-font-name: "Cosmo";
$icon-font-path: "../fonts/cosmo";

@font-face {
  font-family: '#{$icon-font-name}';
  src: url('#{$icon-font-path}.eot');
  src: url('#{$icon-font-path}.eot') format('embedded-opentype'),
    /*url('#{$icon-font-path}.woff2') format('woff2'),*/
    url('#{$icon-font-path}.woff') format('woff'),
    url('#{$icon-font-path}.ttf') format('truetype'),
    url('#{$icon-font-path}.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@function unicode($str) {
  @return unquote("\"")+unquote(str-insert($str, "\\", 1))+unquote("\"");
}

@mixin iconfont($char:"\eaa2", $size:24px) {
  content: unicode($char);
  display: inline-block;
	font-family: '#{$icon-font-name}';
	font-size: $size;
	font-weight: normal;
	line-height: 1;
  speak: none;
  width: $size;
  height: $size;
  vertical-align: middle;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
